.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    border: none;
    background-color: #3c00ff;
    color: #fff;
    font-size: 24px;

    transition: opacity .3s;

    &:hover {
        opacity: .7;
    }
}